.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--grey-2);
  height: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
}

.form label {
  font-weight: 800;
  text-transform: uppercase;
}

.form button {
  width: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cost-summary,
.items-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cost-summary {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.items-summary {
  margin-top: 1rem;
  margin-bottom: 4rem;
}
