$toolbar-height: 60px;

.toolbar {
  height: $toolbar-height;
}

.toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar-group {
  display: flex;
  align-items: center;
}
