<form class="flex flex-col py-8" [formGroup]="form">
  <section class="flex items-center justify-center w-full">
    <mat-button-toggle-group [formControl]="form.controls.mode">
      <mat-button-toggle value="DAILY">
        <span class="font-sans">Day View</span>
      </mat-button-toggle>
      <mat-button-toggle value="WEEKLY">
        <span class="font-sans">Week View</span>
      </mat-button-toggle>
      <mat-button-toggle class="MONTHLY">
        <span class="font-sans">Month View</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </section>
  <section class="w-full min-w-[320px]">
    <mat-calendar
      class="calendar"
      [selected]="form.controls.date.value"
      (selectedChange)="form.controls.date.patchValue($event)"
    ></mat-calendar>
  </section>
</form>
