<app-user-settings-actions></app-user-settings-actions>

<div class="flex justify-center">
  <div class="w-full max-w-[1280px]">
    <main class="flex flex-col my-8 gap-y-6">
      <app-user-notification-settings></app-user-notification-settings>
      <app-user-profile-settings></app-user-profile-settings>
      <app-user-email-settings></app-user-email-settings>
      <app-user-password-settings></app-user-password-settings>
      <app-user-logout></app-user-logout>
      <app-user-account-settings></app-user-account-settings>
    </main>
  </div>
</div>
