@import "material";

.form,
.search-input,
.search-container,
.search-input .form-field {
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: space-between;
  gap: 0 4rem;
  margin-bottom: 2rem;
}

.search-container .primary-actions {
  flex: 1;
}

.button-toggle-group {
  height: 100%;
}
