<mat-card class="flex flex-col h-full">
  <img mat-card-image [src]="product.image" />
  <div class="flex flex-col flex-1 gap-y-4 flex-1">
    <h4
      class="font-sans font-bold text-lg cursor-pointer transition:all hover:underline"
      [routerLink]="productLink"
    >
      {{ product.name }}
    </h4>
    <div class="flex-1">
      <p class="font-sans">{{ product.description | slice: 0:144 }}</p>
    </div>
    <button
      mat-ripple
      class="bg-primary-400 text-gray-1000 transition-all hover:bg-primary-500 rounded py-4 w-full"
      (click)="addToCart()"
    >
      <span class="font-sans">Add to cart</span>
    </button>
  </div>
</mat-card>
