<section class="bg-gray-100 border border-gray-300 rounded">
  <div class="flex flex-col">
    <header
      class="flex items-center cursor-pointer justify-between bg-gray-200 hover:bg-gray-300 border-b border-gray-300 px-4 py-2"
      (click)="expanded = !expanded"
    >
      <div class="flex items-center gap-x-2">
        <mat-icon>info</mat-icon>
        <h4 class="font-bold">Auto suggestions</h4>
      </div>
      <button mat-icon-button (click)="expanded = !expanded">
        <mat-icon>{{ expanded ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
    </header>
    <ng-container *ngIf="expanded; else collapsed">
      <ng-container *ngIf="autoSuggestions$ | async as autoSuggestions">
        <div class="grid grid-cols-5 gap-4 p-4">
          <ng-container *ngFor="let suggestion of autoSuggestions">
            <app-user-location-auto-suggestion
              [selection]="selection"
              [autoSuggestion]="suggestion"
            ></app-user-location-auto-suggestion>
          </ng-container>
        </div>
        <footer
          class="bg-gray-200 py-2 px-4 border-t border-gray-300 flex items-center justify-end"
        >
          <button
            class="text-gray-1000 px-4 py-3"
            [class.bg-gray-700]="selection.isEmpty()"
            [class.bg-primary-400]="selection.hasValue()"
            mat-button
            (click)="userLocationsService.addFromSelection(selection)"
          >
            <span>Add all</span>
          </button>
        </footer>
      </ng-container>
    </ng-container>
    <ng-template #collapsed>
      <div class="p-4">
        <p>
          We've found some locations which you might want to add.
          <a
            class="text-primary-700 underline cursor-pointer"
            (click)="expanded = true"
          >
            Expand to view.
          </a>
        </p>
      </div>
    </ng-template>
  </div>
</section>
