<section
  class="bg-gray-100 border border-gray-300 flex items-center justify-center py-16 rounded-lg"
>
  <div class="flex flex-col items-center max-w-[640px] gap-y-2">
    <h4 class="font-bold text-lg text-primary-700">No locations yet</h4>
    <p class="text-center">
      Keep track of where you're storing your products by adding locations.
      We'll then sync your products to the locations where you commonly store
      your products, so you'll never lose anything ever again!
    </p>
  </div>
</section>
