<table
  class="table"
  matSort
  mat-table
  matSortActive="created"
  matSortDisableClear
  matSortDirection="desc"
  [dataSource]="dataSource"
  [trackBy]="modelHelperService.trackByUuid"
  class="w-full"
>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th class="font-sans text-base" mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td class="font-sans text-base" mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th class="font-sans text-base" mat-header-cell *matHeaderCellDef>
      <span class="px-8">#</span>
    </th>
    <td
      class="font-sans text-base"
      mat-cell
      *matCellDef="let element; let i = index"
    >
      <span class="px-8">{{ i + 1 }}</span>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th
      class="font-sans text-base"
      width="100%"
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
    >
      <span>Name</span>
    </th>
    <td
      class="font-sans text-base"
      width="100%"
      mat-cell
      *matCellDef="let element"
    >
      <a
        class="transition-all hover:underline"
        (click)="viewUserLocation(element)"
      >
        {{ element.location.name }}
      </a>
    </td>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="options" stickyEnd>
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button [mat-menu-trigger-for]="rowsActions">
        <mat-icon>more_vert</mat-icon>
        <!-- All row actions -->
        <mat-menu
          class="bg-gray-100 border border-gray-300"
          xPosition="before"
          #rowsActions
        >
          <ng-container *ngIf="selection.hasValue()">
            <button
              class="transition-all hover:!bg-gray-200"
              mat-menu-item
              (click)="toggleAllRows()"
            >
              <mat-icon class="invert">deselect</mat-icon>
              <span class="font-sans text-base text-gray-1000">
                Deselect all
              </span>
            </button>
            <button
              class="transition-all hover:!bg-gray-200"
              mat-menu-item
              (click)="userLocationService.deleteFromSelection(selection)"
            >
              <mat-icon class="invert">delete</mat-icon>
              <span class="font-sans text-base text-gray-1000">
                Delete locations
              </span>
            </button>
          </ng-container>
          <ng-container *ngIf="selection.isEmpty()">
            <button
              class="transition-all hover:!bg-gray-200"
              mat-menu-item
              (click)="toggleAllRows()"
            >
              <mat-icon class="invert">select_all</mat-icon>
              <span class="font-sans text-base text-gray-1000">
                Select all
              </span>
            </button>
          </ng-container>
        </mat-menu>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [mat-menu-trigger-for]="rowActions">
        <mat-icon>more_vert</mat-icon>
        <!-- Row actions -->
        <mat-menu
          class="bg-gray-100 border border-gray-300"
          xPosition="before"
          #rowActions
        >
          <button
            class="transition-all hover:!bg-gray-200"
            mat-menu-item
            (click)="viewUserLocation(element)"
          >
            <mat-icon class="invert">visibility</mat-icon>
            <span class="font-sans text-base text-gray-1000">
              View location
            </span>
          </button>
          <button
            class="transition-all hover:!bg-gray-200"
            mat-menu-item
            (click)="addSubLocation(element)"
          >
            <mat-icon class="invert">add</mat-icon>
            <span class="font-sans text-base text-gray-1000">
              Add sub-locations
            </span>
          </button>
          <button
            class="transition-all hover:!bg-gray-200"
            mat-menu-item
            (click)="addTags(element)"
          >
            <mat-icon class="invert">add</mat-icon>
            <span class="font-sans text-base text-gray-1000"> Add tags </span>
          </button>
          <button
            class="transition-all hover:!bg-gray-200"
            mat-menu-item
            (click)="deleteUserLocation(element)"
          >
            <mat-icon class="invert">delete</mat-icon>
            <span class="font-sans text-base text-gray-1000">
              Delete location
            </span>
          </button>
        </mat-menu>
      </button>
    </td>
  </ng-container>

  <tr class="bg-gray-200" mat-header-row *matHeaderRowDef="columns"></tr>
  <tr
    mat-row
    class="cursor-pointer transition-all hover:bg-gray-400"
    *matRowDef="let row; columns: columns"
    [class.selected]="selection.isSelected(row)"
    (dblclick)="selection.toggle(row)"
  ></tr>
</table>

<section class="flex items-center justify-end">
  <app-paginator [pageSizeOptions]="pageSizeOptions"></app-paginator>
</section>
