<div class="flex flex-col bg-gray-100 border border-gray-300 rounded">
  <header class="p-4">
    <div class="flex items-center gap-x-2">
      <mat-icon>password</mat-icon>
      <h3 class="font-bold text-xl">Change your password</h3>
    </div>
  </header>
  <main class="p-4">
    <form class="flex flex-col gap-y-4" [formGroup]="form">
      <div class="flex flex-col gap-y-2">
        <label for="current-password">Current password</label>
        <input
          [type]="showPasswords ? 'text' : 'password'"
          id="current-password"
          name="current-password"
          placeholder="Current password"
          formControlName="currentPassword"
          class="bg-gray-200 rounded border border-gray-300 outline-none w-full px-4 py-3 focus:bg-gray-300"
        />
      </div>
      <div class="flex flex-col gap-y-2">
        <label for="current-password">New password</label>
        <input
          [type]="showPasswords ? 'text' : 'password'"
          id="new-password"
          name="new-password"
          placeholder="New password"
          formControlName="newPassword"
          class="bg-gray-200 rounded border border-gray-300 outline-none w-full px-4 py-3 focus:bg-gray-300"
        />
      </div>
      <div class="flex flex-col gap-y-2">
        <label for="current-password">Confirm new password</label>
        <input
          [type]="showPasswords ? 'text' : 'password'"
          id="confirm-new-password"
          name="confirm-new-password"
          placeholder="Confirm new password"
          formControlName="confirmNewPassword"
          class="bg-gray-200 rounded border border-gray-300 outline-none w-full px-4 py-3 focus:bg-gray-300"
        />
      </div>
      <div>
        <mat-checkbox
          [checked]="showPasswords"
          (change)="showPasswords = $event.checked"
        >
          Show passwords
        </mat-checkbox>
      </div>
    </form>
  </main>
  <footer class="bg-gray-200 flex items-center justify-end py-3 px-4">
    <button
      mat-ripple
      class="bg-gray-500 transition-all hover:bg-gray-400 rounded"
    >
      <div class="font-bold py-2 px-4">Change</div>
    </button>
  </footer>
</div>
