<header class="flex items-center w-full bg-gray-100 border-b border-gray-300">
  <div class="flex items-center w-full justify-center">
    <div class="w-full max-w-[1280px]">
      <div class="flex items-center justify-between py-8">
        <div class="flex items-center gap-x-4">
          <div class="bg-gray-300 text-gray-800 w-10 h-10 rounded">
            <div class="flex items-center justify-center w-full h-full">
              <mat-icon>receipt_long</mat-icon>
            </div>
          </div>
          <h3 class="font-bold text-2xl text-gray-800">Shopping lists</h3>
        </div>
        <button
          routerLink="/user/customer/shopping-lists/create"
          class="text-gray-800 bg-gray-200 hover:bg-gray-300 transition-all"
        >
          <div
            class="flex items-center gap-x-2 px-6 py-3 border border-gray-300 rounded-lg"
          >
            <span class="text-base">New shopping list</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>
