<header class="flex items-center w-full bg-gray-100 border-b border-gray-300">
  <div class="flex items-center w-full justify-center">
    <div class="w-full max-w-[1280px]">
      <div class="flex items-center justify-between py-8">
        <div class="flex items-center gap-x-4">
          <div class="bg-gray-300 text-gray-800 w-10 h-10 rounded">
            <div class="flex items-center justify-center w-full h-full">
              <mat-icon>settings</mat-icon>
            </div>
          </div>
          <h3 class="font-bold text-2xl text-gray-800">Settings</h3>
        </div>
      </div>
    </div>
  </div>
</header>
