<table
  class="table"
  matSort
  mat-table
  matSortActive="created"
  matSortDisableClear
  matSortDirection="desc"
  [dataSource]="dataSource"
  [trackBy]="modelHelperService.trackByUuid"
  class="w-full"
>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th class="font-sans text-base" mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td class="font-sans text-base" mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th class="font-sans text-base" mat-header-cell *matHeaderCellDef>
      <span class="px-8">#</span>
    </th>
    <td
      class="font-sans text-base"
      mat-cell
      *matCellDef="let element; let i = index"
    >
      <span class="px-8">{{ i + 1 }}</span>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th
      class="font-sans text-base"
      width="100%"
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
    >
      <span>Name</span>
    </th>
    <td
      class="font-sans text-base"
      width="100%"
      mat-cell
      *matCellDef="let element"
    >
      <div class="w-full" (click)="productService.viewProduct(element)">
        <a class="transition-all hover:underline">
          {{ element.name | titlecase }}
        </a>
      </div>
    </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th
      class="font-sans text-base"
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
    >
      <span class="price">Price</span>
    </th>
    <td class="font-sans text-base" mat-cell *matCellDef="let element">
      <span class="price">{{ element.price | currency }}</span>
    </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th
      class="font-sans text-base"
      mat-header-cell
      mat-sort-header
      *matHeaderCellDef
    >
      <span class="px-8">Status</span>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="px-8">
        <mat-chip-list>
          <mat-chip
            class="chip font-sans text-sm"
            [class.bad]="productService.isUnavailable(element)"
            [class.good]="productService.isAvailable(element)"
          >
            <span>{{ element.availability | titlecase }}</span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </td>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="options" stickyEnd>
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button [matMenuTriggerFor]="selectAllMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu
        class="border border-gray-300 bg-gray-100"
        xPosition="before"
        #selectAllMenu
      >
        <ng-container *ngIf="selection.hasValue()">
          <button mat-menu-item (click)="toggleAllRows()">
            <mat-icon class="invert">toggle_off</mat-icon>
            <span class="font-sans font-bold text-base text-gray-1000">
              Deselect all
            </span>
          </button>
          <button mat-menu-item (click)="addProductsToCart()">
            <mat-icon class="invert">add</mat-icon>
            <span class="font-sans font-bold text-base text-gray-1000">
              Add products to cart
            </span>
          </button>
        </ng-container>
        <ng-container *ngIf="selection.isEmpty()">
          <button mat-menu-item (click)="toggleAllRows()">
            <mat-icon class="invert">toggle_on</mat-icon>
            <span class="font-sans font-bold text-base text-gray-1000">
              Select all
            </span>
          </button>
        </ng-container>
      </mat-menu>
    </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="selectItemMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu
        class="border border-gray-300 bg-gray-100"
        xPosition="before"
        #selectItemMenu
      >
        <button mat-menu-item (click)="productService.viewProduct(element)">
          <mat-icon class="invert">visibility</mat-icon>
          <span class="font-sans font-bold text-base text-gray-1000">
            View Product
          </span>
        </button>
        <ng-container
          *ngIf="
            productService.canPurchaseProduct(element);
            else unavailableActions
          "
        >
          <button mat-menu-item (click)="addProductToCart(element)">
            <mat-icon class="invert">add</mat-icon>
            <span class="font-sans font-bold text-base text-gray-1000">
              Add to cart
            </span>
          </button>
          <ng-container *ngIf="shoppingLists$ | async as shoppingLists">
            <button mat-menu-item [mat-menu-trigger-for]="shoppingListMenu">
              <mat-icon class="invert">chevron_left</mat-icon>
              <span class="font-sans font-bold text-base text-gray-1000">
                Add to shopping list
              </span>
              <mat-menu
                class="border border-gray-300 bg-gray-100"
                xPosition="before"
                #shoppingListMenu
              >
                <ng-container *ngFor="let shoppingList of shoppingLists">
                  <button
                    mat-menu-item
                    (click)="addProductToShoppingList(shoppingList, element)"
                  >
                    <mat-icon class="invert" matPrefix>description</mat-icon>
                    <span class="font-sans font-bold text-base text-gray-1000">
                      {{ shoppingList.name }}
                    </span>
                  </button>
                </ng-container>
              </mat-menu>
            </button>
          </ng-container>
        </ng-container>
        <ng-template #unavailableActions>
          <button mat-menu-item (click)="alertWhenAvailable(element)">
            <mat-icon class="invert">notifications</mat-icon>
            <span class="font-sans font-bold text-base text-gray-1000">
              Alert me when available
            </span>
          </button>
        </ng-template>
      </mat-menu>
    </td>
  </ng-container>

  <tr class="bg-gray-200" mat-header-row *matHeaderRowDef="columns"></tr>
  <tr
    mat-row
    class="cursor-pointer transition-all hover:bg-gray-400"
    *matRowDef="let row; columns: columns"
    [class.selected]="selection.isSelected(row)"
    (dblclick)="selection.toggle(row)"
  ></tr>
</table>
