$toolbar-height: 64px;

.wrapper {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--palette-gray-100);
}

.header {
  height: $toolbar-height;
}

.nav {
  height: 100%;
}

.subheader,
.nav-list-item {
  color: var(--palette-gray-800);
}

.nav-list-item.active {
  color: var(--palette-gray-1000);
  background-color: var(--palette-primary-500);
}

.footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  padding: 0.75rem 1rem;
}
