<div class="wrapper">
  <header class="header"></header>
  <nav class="nav">
    <mat-nav-list class="nav-list">
      <mat-list-item class="nav-list-item" routerLink="/user/customer">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <a matLine>Dashboard</a>
      </mat-list-item>
      <h3 class="subheader" matSubheader>Purchase</h3>
      <mat-list-item
        class="nav-list-item"
        routerLink="/user/customer/products"
        routerLinkActive="active"
      >
        <mat-icon mat-list-icon>category</mat-icon>
        <a matLine>Products</a>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item
        class="nav-list-item"
        routerLink="/user/customer/my/shopping-lists"
        routerLinkActive="active"
      >
        <mat-icon mat-list-icon>summarize</mat-icon>
        <a matLine>Shopping lists</a>
        <button mat-icon-button (click)="addShoppingList()">
          <mat-icon matSuffix matTooltip="Add shopping list">add</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="nav-list">
      <h3 class="subheader" matSubheader>My Inventory</h3>
      <mat-list-item
        class="nav-list-item"
        routerLink="/user/customer/my/products"
        routerLinkActive="active"
      >
        <mat-icon mat-list-icon>inventory_2</mat-icon>
        <a matLine>My Products</a>
      </mat-list-item>
      <mat-list-item
        class="nav-list-item"
        routerLink="/user/customer/my/locations"
        routerLinkActive="active"
      >
        <mat-icon mat-list-icon>pin_drop</mat-icon>
        <a matLine>My Locations</a>
        <mat-icon matSuffix matTooltip="Add to my locations">add</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </nav>
  <footer class="footer">
    <button mat-icon-button routerLink="/user/customer/my/account">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button routerLink="/user/customer/my/settings">
      <mat-icon>settings</mat-icon>
    </button>
  </footer>
</div>
