<header class="flex items-center w-full bg-gray-100 border-b border-gray-300">
  <div class="flex items-center w-full justify-center">
    <div class="w-full max-w-[1280px]">
      <div class="flex items-center justify-between py-8">
        <div class="flex items-center gap-x-4">
          <div class="bg-gray-300 text-gray-800 w-10 h-10 rounded">
            <div class="flex items-center justify-center w-full h-full">
              <mat-icon>lunch_dining</mat-icon>
            </div>
          </div>
          <h3 class="font-bold text-2xl text-gray-800">Products</h3>
        </div>
        <ng-container *ngIf="selection.hasValue()">
          <div class="flex items-center gap-x-4">
            <button
              mat-ripple
              class="text-gray-1000 bg-gray-200 hover:bg-gray-300 transition-all"
              (click)="cartService.addSelectionToCart(selection)"
            >
              <div class="px-6 py-3 border border-gray-300 rounded-lg">
                <span class="text-base">Add products to cart</span>
              </div>
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="selection.isEmpty()">
          <div class="flex items-center gap-x-4"></div>
        </ng-container>
      </div>
    </div>
  </div>
</header>
