<ng-container *ngIf="cart$ | async as cart">
  <app-cart-actions></app-cart-actions>
  <main class="flex justify-center text-gray-800 mt-4">
    <div class="w-full max-w-[1280px]">
      <ng-container *ngIf="cart.length; else empty">
        <main class="main">
          <article class="article">
            <app-cart-table></app-cart-table>
          </article>
          <aside class="aside">
            <app-cart-checkout></app-cart-checkout>
          </aside>
        </main>
      </ng-container>
      <ng-template #empty>
        <app-cart-empty></app-cart-empty>
      </ng-template>
    </div>
  </main>
</ng-container>
