<app-create-shopping-list-actions></app-create-shopping-list-actions>

<div class="flex justify-center">
  <div class="w-full max-w-[1280px]">
    <form
      class="flex flex-col my-4 bg-gray-100 border border-gray-300 p-4 rounded-lg gap-y-4"
      [formGroup]="form"
    >
      <div class="flex flex-col gap-y-2">
        <label class="font-bold">Shopping list name</label>
        <input
          id="name"
          name="name"
          placeholder="Shopping list name"
          formControlName="name"
          class="bg-gray-200 border border-gray-300 rounded-sm p-4"
          [class.border-red-600]="
            form.controls.name.invalid && form.controls.name.touched
          "
        />
        <ng-container
          *ngIf="form.controls.name.invalid && form.controls.name.touched"
        >
          <mat-error>The shopping list name cannot be empty</mat-error>
        </ng-container>
      </div>
      <button class="btn btn-primary" mat-ripple (click)="onSubmit()">
        <span>Create shopping list</span>
      </button>
    </form>
  </div>
</div>
