<div
  class="bg-gray-100 border border-gray-300 text-gray-800 rounded-t flex flex-col gap-y-4 p-4"
>
  <header class="flex items-center justify-between">
    <h3 class="ml-2 font-sans font-bold text-xl">
      Add tags to {{ data.userLocation.location.name }}
    </h3>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <main class="flex flex-col min-h-[50vh]">
    <div
      class="flex items-center bg-gray-200 border border-gray-300 rounded px-4"
    >
      <input
        id="tags-search"
        name="tags-search"
        formControlName="tagsSearch"
        placeholder="Search tags"
        class="font-sans text-lg bg-gray-200 py-4 outline-none h-full flex-1"
      />
      <mat-icon matSuffix>search</mat-icon>
    </div>
  </main>
  <footer
    class="flex items-center justify-end border-t border-gray-300 pt-4 gap-x-2"
  >
    <button>
      <div
        class="bg-gray-600 rounded transition-all hover:bg-gray-700 px-8 py-2"
      >
        <span class="font-sans text-base text-gray-1000">Cancel</span>
      </div>
    </button>
    <button>
      <div
        class="bg-primary-500 rounded transition-all hover:bg-primary-600 px-8 py-2"
      >
        <span class="font-sans text-base text-gray-1000">Save</span>
      </div>
    </button>
  </footer>
</div>
