<div class="flex flex-col bg-gray-100 border border-gray-300 rounded">
  <header class="p-4 flex flex-col gap-y-2">
    <div class="flex items-center gap-x-2">
      <mat-icon>logout</mat-icon>
      <h3 class="font-bold text-xl">Logout</h3>
    </div>
    <p>Clear all data pertaining to your current session.</p>
  </header>
  <footer class="bg-gray-200 flex items-center justify-end py-3 px-4">
    <button
      mat-ripple
      class="bg-gray-500 transition-all hover:bg-gray-400 rounded"
    >
      <div class="font-bold py-2 px-4">Logout</div>
    </button>
  </footer>
</div>
