@import "forms";
@import "chips";
@import "tables";
@import "buttons";
@import "menus";
@import "cards";
@import "bottom-sheets.scss";

::ng-deep .mat-menu-item .mat-menu-submenu-icon {
  display: none;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 0 !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-drawer.mat-drawer-side {
  border-right: 1px solid var(--palette-gray-400);
}
