:root {
  --dark-blue-1: #26264f;
  --dark-blue-2: #1d1e42;
  --dark-blue-3: #1b1b44;
  --dark-blue-4: #141432;

  --blue-1: #304ffd;
  --blue-2: #203fed;

  --purple-1: #534ef1;
  --purple-2: #5350ec;
  --purple-3: #4f2ed0;

  --red-1: #e15e47;

  --light-red-1: #fdd2cd;

  --green-1: #55b064;

  --light-green-1: #cdf5d1;

  --grey-1: #f6f6f6;
  --grey-2: #c7c7c7;
  --grey-3: #b2b2b2;
  --grey-4: #a9a9a9;
  --grey-5: #919191;

  --white-1: #ffffff;
  --white-2: #dedcf3;

  --black-9: #000;
  --black-8: #111;
  --black-7: #222;
}
