:root {
  --dark-blue-1: #26264f;
  --dark-blue-2: #1d1e42;
  --dark-blue-3: #1b1b44;
  --dark-blue-4: #141432;

  --blue-1: #304ffd;
  --blue-2: #203fed;

  --purple-1: #534ef1;
  --purple-2: #5350ec;
  --purple-3: #4f2ed0;

  --red-1: #e15e47;

  --light-red-1: #fdd2cd;

  --green-1: #55b064;

  --light-green-1: #cdf5d1;

  --grey-1: #f6f6f6;
  --grey-2: #c7c7c7;
  --grey-3: #b2b2b2;
  --grey-4: #a9a9a9;
  --grey-5: #919191;

  --white-1: #ffffff;
  --white-2: #dedcf3;

  --black-9: #000;
  --black-8: #111;
  --black-7: #222;

  --palette-gray-000: #0b0f13;
  --palette-gray-100: #14191f;
  --palette-gray-200: #1c2026;
  --palette-gray-300: #262a31;
  --palette-gray-400: #32373e;
  --palette-gray-500: #49505a;
  --palette-gray-600: #737b87;
  --palette-gray-700: #9ba4b0;
  --palette-gray-800: #bcc3cd;
  --palette-gray-900: #e0e4eb;
  --palette-gray-1000: #f0f2f5;
  --palette-primary-000: #1b183d;
  --palette-primary-100: #201d52;
  --palette-primary-200: #2a2375;
  --palette-primary-300: #342a9c;
  --palette-primary-400: #4436c7;
  --palette-primary-500: #5c49eb;
  --palette-primary-600: #7766e8;
  --palette-primary-700: #a498ed;
  --palette-primary-800: #c9c2f2;
  --palette-primary-900: #e4e0f5;
  --palette-blue-000: #122447;
  --palette-blue-100: #173366;
  --palette-blue-200: #1e4894;
  --palette-blue-300: #2362c4;
  --palette-blue-400: #2d73e0;
  --palette-blue-500: #4794fd;
  --palette-blue-600: #61abff;
  --palette-blue-700: #8fcaff;
  --palette-blue-800: #addaff;
  --palette-blue-900: #cae8ff;
  --palette-green-000: #1a2b20;
  --palette-green-100: #1d3b27;
  --palette-green-200: #255232;
  --palette-green-300: #256936;
  --palette-green-400: #2e853f;
  --palette-green-500: #38a04b;
  --palette-green-600: #4ab959;
  --palette-green-700: #65d372;
  --palette-green-800: #8ae592;
  --palette-green-900: #b9f0bd;
  --palette-yellow-000: #30250a;
  --palette-yellow-100: #473510;
  --palette-yellow-200: #664b14;
  --palette-yellow-300: #856018;
  --palette-yellow-400: #a3751a;
  --palette-yellow-500: #bf8a1f;
  --palette-yellow-600: #d4a035;
  --palette-yellow-700: #e8bb51;
  --palette-yellow-800: #f2d06d;
  --palette-yellow-900: #fae296;
  --palette-orange-000: #2e1e17;
  --palette-orange-100: #472a1d;
  --palette-orange-200: #66361f;
  --palette-orange-300: #8f4824;
  --palette-orange-400: #ad5a2b;
  --palette-orange-500: #d67233;
  --palette-orange-600: #eb853d;
  --palette-orange-700: #f5a35b;
  --palette-orange-800: #fcc279;
  --palette-orange-900: #fcd49f;
  --palette-red-000: #3d1515;
  --palette-red-100: #541c1f;
  --palette-red-200: #732225;
  --palette-red-300: #962926;
  --palette-red-400: #bd3939;
  --palette-red-500: #e0514a;
  --palette-red-600: #f76f65;
  --palette-red-700: #ff8d82;
  --palette-red-800: #ffb1a8;
  --palette-red-900: #ffd2cc;
  --palette-pink-000: #3d182f;
  --palette-pink-100: #571e40;
  --palette-pink-200: #782a57;
  --palette-pink-300: #9c356e;
  --palette-pink-400: #bf4b8a;
  --palette-pink-500: #de62a4;
  --palette-pink-600: #f77ebd;
  --palette-pink-700: #ff9bce;
  --palette-pink-800: #ffbedd;
  --palette-pink-900: #ffcfe6;
  --palette-purple-000: #2b1d47;
  --palette-purple-100: #3c2563;
  --palette-purple-200: #553096;
  --palette-purple-300: #6e40c9;
  --palette-purple-400: #8957e5;
  --palette-purple-500: #a371f7;
  --palette-purple-600: #bc8cff;
  --palette-purple-700: #d2a8ff;
  --palette-purple-800: #e2c5ff;
  --palette-purple-900: #e9d6ff;
  --palette-white: #fff;
  --palette-black: var(--expo-color-base-dark-gray-000);
  --background-default: var(--expo-color-base-dark-gray-100);
  --background-screen: var(--expo-color-base-dark-gray-000);
  --background-secondary: var(--expo-color-base-dark-gray-200);
  --background-tertiary: var(--expo-color-base-dark-gray-300);
  --background-quaternary: var(--expo-color-base-dark-gray-400);
  --background-error: var(--expo-color-base-dark-red-000);
  --background-warning: var(--expo-color-base-dark-yellow-000);
  --background-success: var(--expo-color-base-dark-green-000);
  --background-overlay: var(--expo-color-base-dark-gray-200);
  --border-default: var(--expo-color-base-dark-gray-400);
  --border-error: var(--expo-color-base-dark-red-200);
  --border-warning: var(--expo-color-base-dark-yellow-300);
  --border-success: var(--expo-color-base-dark-green-200);
  --button-primary-background: var(--expo-color-base-dark-primary-500);
  --button-primary-foreground: var(--expo-color-base-dark-white);
  --button-secondary-background: var(--expo-color-base-dark-gray-300);
  --button-secondary-foreground: var(--expo-color-base-dark-gray-800);
  --button-tertiary-foreground: var(--expo-color-base-dark-gray-1000);
  --button-tertiary-background: var(--expo-color-base-dark-gray-500);
  --button-transparent-background: transparent;
  --button-transparent-foreground: var(--expo-color-base-dark-gray-800);
  --button-ghost-background: transparent;
  --button-ghost-foreground: var(--expo-color-base-dark-gray-800);
  --button-ghost-border: var(--expo-color-base-dark-gray-400);
  --icon-default: var(--expo-color-base-dark-gray-700);
  --icon-secondary: var(--expo-color-base-dark-gray-600);
  --link-default: var(--expo-color-base-dark-primary-700);
  --status-default: var(--expo-color-base-dark-gray-400);
  --status-error: var(--expo-color-base-dark-red-500);
  --status-warning: var(--expo-color-base-dark-yellow-500);
  --status-success: var(--expo-color-base-dark-green-500);
  --status-info: var(--expo-color-base-dark-blue-500);
  --text-default: var(--expo-color-base-dark-gray-800);
  --text-secondary: var(--expo-color-base-dark-gray-700);
  --text-error: var(--expo-color-base-dark-red-600);
  --text-warning: var(--expo-color-base-dark-yellow-900);
  --text-success: var(--expo-color-base-dark-green-700);
  --code-keyword: var(--expo-color-base-dark-blue-600);
  --code-builtin: var(--expo-color-base-dark-green-600);
  --code-property: var(--expo-color-base-dark-red-600);
  --code-comment: var(--expo-color-base-dark-gray-600);
  --code-punctuation: var(--expo-color-base-dark-gray-700);
  --code-operator: var(--expo-color-base-dark-yellow-800);
  --code-regex: var(--expo-color-base-dark-orange-600);
  --code-string: var(--expo-color-base-dark-yellow-700);
  --code-before: var(--expo-color-base-dark-gray-400);
  --highlight-accent: var(--expo-color-base-dark-primary-700);
  --highlight-emphasis: var(--expo-color-base-dark-yellow-300);
  --project-blue: linear-gradient(#537296, #395a80);
  --project-green: linear-gradient(#4b7d56, #32633d);
  --project-yellow: linear-gradient(#a67f35, #8a6319);
  --project-orange: linear-gradient(#ab744d, #8c5731);
  --project-red: linear-gradient(#b25656, #8c3838);
  --project-pink: linear-gradient(#995c81, #8a4c71);
  --project-purple: linear-gradient(#715c99, #4e3973);
  --shadows-micro: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
  --shadows-tiny: 0 3px 6px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadows-small: 0 10px 20px rgba(0, 0, 0, 0.25),
    0 3px 6px rgba(0, 0, 0, 0.25);
  --shadows-medium: 0 15px 25px rgba(0, 0, 0, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.25);
  --shadows-large: 0 20px 40px rgba(0, 0, 0, 0.5);
}
