<app-products-actions></app-products-actions>

<div class="flex justify-center">
  <div class="w-full max-w-[1280px]">
    <main class="flex flex-row w-full gap-x-8 my-8">
      <article class="flex flex-1">
        <ng-container [ngSwitch]="view">
          <ng-container *ngSwitchCase="'table'">
            <section class="bg-gray-100 border border-gray-300 rounded w-full">
              <app-products-table></app-products-table>
            </section>
          </ng-container>
          <ng-container *ngSwitchCase="'list'">
            <app-products-list class="products-list"></app-products-list>
          </ng-container>
        </ng-container>
      </article>
      <aside class="flex flex-col gap-y-4">
        <section class="flex justify-between gap-x-4">
          <app-products-search
            [products]="products$ | async"
          ></app-products-search>
          <app-display-mode (change)="view = $event"></app-display-mode>
        </section>
        <app-product-filters></app-product-filters>
      </aside>
    </main>
  </div>
</div>
