<div class="flex flex-col bg-gray-100 border border-gray-300 rounded">
  <header class="p-4">
    <div class="flex items-center gap-x-2">
      <mat-icon>notifications</mat-icon>
      <h3 class="font-bold text-xl">Notification settings</h3>
    </div>
  </header>
  <main class="p-4"></main>
  <footer class="bg-gray-200 flex items-center justify-end py-3 px-4">
    <button
      mat-ripple
      class="bg-gray-500 transition-all hover:bg-gray-400 rounded"
    >
      <div class="font-bold py-2 px-4">Save</div>
    </button>
  </footer>
</div>
